* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body{
    margin:0;
    background-color: #33373E;
    width: 100%;
    background-image: url(../src/assets/images/React-icon.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 130% 110%;
    /* Position described here is x and y */
    
}

nav{
    display: flex;
    align-items: center;
    background-color: #21222A;
    padding: 10px 22px;
    
}

.nav-icon{
    width: 40px;
    margin-right: 5px;
}

.nav-icon-text{
    font-size: 22px;
    font-weight: bold;
    color: #00D8FF;
    margin-right: auto;
}

.nav-text{
    font-size: 16px;
    font-weight: Regular;
    color: #fff;
}

main{
    color: #fff;
    padding: 30px;
    
}

.main-title{
    font-size: 40px;
    font-weight: 650s;
    letter-spacing: -1px;
    margin-bottom: 20px;

}

.main-facts{
    /* max-width: 400px; */
    padding: 0px 40px;
    
}

.main-facts > li{
    padding-block: 8px;
    font-size: 16px;
    font-weight: 500;
}

.main-facts > li::marker {
    /* content: 'âœ '; */
    font-size: 1.6em;
  	color: #00D8FF;
}


footer{    
    background-color: #21222A;
    padding: 7px;
    position: fixed;
    width: 100%;
    bottom: 0;
    

}

footer > p{
    
    font-size: 16px;
    font-weight: Regular;
    color: #fff;
    text-align: center;
    align-items: right;
    
}